wp-includes
wp-admin
wp-snapshots
.tmb
wp-content/cache
wp-content/uploads
wp-content/languages
wp-content/plugins
wp-content/mu-plugins
wp-content/fv-flowplayer-custom
wp-content/w3tc-config

*.php
license.txt
readme.html
.htaccess*